@using Microsoft.AspNetCore.Authentication

<div>
    <strong>id_token</strong>
    <span>@await ViewContext.HttpContext.Authentication.GetTokenAsync("id_token") </span>
</div>

<div>
    <strong>access_token</strong>
    <span>@await ViewContext.HttpContext.Authentication.GetTokenAsync("access_token") </span>
</div>

@foreach (var cl in User.Claims)
{
    <div>
        <strong>@cl.Type</strong>
        <span>@cl.Value</span>
    </div>
}

<p>Use this area to provide additional information.</p>
